/*fonts */

@font-face {
  font-family: 'Helvetica LT';
  src: url('./fonts/Linotype-HelveticaLT.ttf') format('truetype');
}


@font-face {
  font-family: 'Myriad Hebrew';
  src: url('./fonts/MyriadHebrew-Regular.otf') format('opentype');
}


@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}


@font-face {
  font-family: 'Roboto Light';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('./fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Segoe Pro Semilight';
  src: url('./fonts/SegoePro-Semilight.ttf') format('truetype');
}


/*button & color*/

p {
	letter-spacing: 2px;
}

.text-fg{
	color: #606B7C;
}

button.common-bt{
	border-radius: 15px;
	padding: 10px 30px;
	border: 0px;
}

button:active{
	position: relative;
	top: 1px;
}

a{
	color: #403BB2;
}

a:hover{
	color: #282889;
}

.h1-title{
	border-bottom: 1px solid #15D4F1;
	padding: 20px 0;
	color: #403BB2;
	font-family: 'Roboto';
	font-size: 40px;
}

button.signup-bt, button.submit-bt{
	border-radius: 17px;
	padding: 15px 70px;
	border: 0px;
	color: white;
	font-family:'Roboto Medium';
	font-size: 25px;
	font-weight:300;
	background-color: #403BB2;
	outline: none;
}

button.signup-bt:hover, button.submit-bt:hover{
	background-color: #282889
}

button.submit-bt{
	margin: 30px auto;
}



.main-bg{
	background-color: #403BB2;
}

.main-fg{
	color: #403BB2;
}

.main-bg-pink{
	background-color: #E30684;
}

button.main-bg-pink:hover{
	background-color: #bc0074;
}

.main-fg-pink{
	color: #E30684;
}

a.main-fg-pink:hover{
	color:#bc0074;
}

.second-bg{
	background-color: #15D4F1;
}


/* font */

.roboto-17{
	font-family: 'Roboto Light';
	font-size: 17px;
}

.roboto-18{
	font-family: 'Roboto Medium';
	font-size: 18px;
}

.roboto-21{
	font-family: 'Roboto';
	font-size: 21px;
}

.roboto-22{
	font-family: 'Roboto Light';
	font-size: 22px;
}

.roboto-22-regular{
	font-family: 'Roboto';
	font-size: 22px;
}

.myriad-heb-22{
	font-family: 'Myriad Hebrew';
	font-size: 22px;
}

.roboto-22-bold{
	font-family: 'Roboto';
	font-size:22px;
	font-weight:bold;
}


.roboto-22-top{
	font-family: 'Roboto Light';
	font-size: 22px;
	padding-bottom: 30px;
}

.roboto-23{
	font-family: 'Roboto';
	font-size: 23px;
}

.roboto-23-light{
	font-family: 'Roboto Light';
	font-size: 23px;
}


.roboto-24{
	font-family: 'Roboto';
	font-size: 24px;
}

.roboto-25{
	font-family: 'Roboto';
	font-size: 25px;
}

.roboto-25-bold{
	font-family: 'Roboto';
	font-size:25px;
	color: #606B7C;
}

.roboto-25-light{
	font-family: 'Roboto Light';
	font-size: 25px;
}


.roboto-26{
	font-family: 'Roboto';
	font-size: 26px;
}

.roboto-27{
	font-family: 'Roboto';
	font-size: 27px;
}


.roboto-27-light{
	font-family: 'Roboto Light';
	font-size: 27px;
}

.roboto-28{
	font-family: 'Roboto';
	font-size: 28px;
}

.roboto-34{
	font-family: 'Roboto';
	font-size: 34px;
}


.roboto-40{
	font-family: 'Roboto';
	font-size: 40px;
}

.roboto-52{
	font-family: 'Roboto';
	font-size: 52px;
}

.roboto-100{
	font-family: 'Roboto';
	font-size: 100px;
}

.roboto-regular{
	font-family: 'Roboto';
}


.helt-17{
	font-family: 'Helvetica LT';
	font-size: 17px;
}

.helt-22{
	font-family: 'Helvetica LT';
	font-size: 22px;
}



.one-row{
	position:relative;
	margin-left: 50px;
	top: -40px;
}


/* MENU */


.site-header-main{
	height: 60px;
	margin: 0.5em auto;
}

.site-header-menu {
	display: none;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
	margin: 0.875em 0;
}

.site-header-menu.toggled-on,
.no-js .site-header-menu {
	display: block;
}

.main-navigation {
	font-family: Roboto, Montserrat, "Helvetica Neue", sans-serif;
}

.site-footer .main-navigation {
	margin-bottom: 1.75em;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
}

.main-navigation li {
	border-top: 1px solid #d1d1d1;
	position: relative;
	margin: 0 15px;
}

.main-navigation li a {
	color: #757F81;
}

.main-navigation a {
	color: #1a1a1a;
	display: block;
	line-height: 1.3125;
	outline-offset: -1px;
	padding: 0.84375em 0;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #007acc;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	font-weight: 700;
}

.main-navigation ul ul {
	display: none;
	margin-left: 0.875em;
}


.no-js .main-navigation ul ul {
	display: block;
}

.main-navigation ul .toggled-on {
	display: block;
}

.main-navigation .primary-menu {
	border-bottom: 1px solid #d1d1d1;
}

.main-navigation .menu-item-has-children > a {
	margin-right: 56px;
}

.dropdown-toggle {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: #1a1a1a;
	content: "";
	height: 48px;
	padding: 0;
	position: absolute;
	right: 0;
	text-transform: none;
	top: 0;
	width: 48px;
}

.dropdown-toggle:after {
	border: 0 solid #d1d1d1;
	border-left-width: 1px;
	content: "\f431";
	font-size: 24px;
	left: 1px;
	position: relative;
	width: 48px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background-color: transparent;
	color: #007acc;
}

.dropdown-toggle:focus {
	outline: thin dotted;
	outline-offset: -1px;
}

.dropdown-toggle:focus:after {
	border-color: transparent;
}

.dropdown-toggle.toggled-on:after {
	content: "\f432";
}

.site-header-main {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.site-branding {
	margin-right: 0.1em;
	/* Avoid overflowing wide custom logo in small screens in Firefox and IEs */
	max-width: 100%;
	min-width: 0;
	overflow: hidden;
}

.custom-logo-link {
	display: block;
}

.custom-logo {
	max-width: 180px;
}


.menu-toggle {
	background-color: transparent;
	border: 1px solid #d1d1d1;
	color: #1a1a1a;
	font-size: 13px;
	font-size: 0.8125rem;
	margin: 1.076923077em 0;
	padding: 0.769230769em;
}

.no-js .menu-toggle {
	display: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
	background-color: transparent;
	border-color: #007acc;
	color: #007acc;
}

.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus {
	background-color: #1a1a1a;
	border-color: #1a1a1a;
	color: #fff;
}

.menu-toggle:focus {
	outline: 0;
}

.menu-toggle.toggled-on:focus {
	outline: thin dotted;
}

.primary-menu:before,
.primary-menu:after,
{
	content: "";
	display: table;
}

.primary-menu:after
{
	clear: both;
}

.site-right-menu{
    position: absolute;
    right: 50px;
    margin-top: 10px;
}

.site-branding{
	margin-left:2em;
}

button.login-bt{
	border-radius: 15px;
	font-size: 17px;
	text-transform: none;
	color: white;
	padding: 5px 17px;
	outline: none;
	border: 0px;
}


#login_menu_bt{
	background-color: #4A4F8C;
	margin-right: 5px;
}

#login_menu_bt:hover{
	background-color: #353c72;
}

#signup_menu_bt{
	background-color: #403BB2;
}

#signup_menu_bt:hover{
	background-color: #282889;
}


#menu-toggle:focus, #menu-toggle:hover{
	background-color: white;
}


li.current_page_item a{
	color: #403BB2;
}

li.menu-item a:hover{
	color: #282889;
}


/* pages*/
article{
	background-color: #DEE2EA;
	padding: 0 10px;
}
.entry-content{
	background-color: white;
	background-image: url("../../uploads/2016/05/svg_grid.png");
	background-size:100% 100%;
	background-repeat: no-repeat;
}

footer{
	background-color: #DEE2EA;
}

.container {
	padding: 40px 20%;
}

/*full width*/
.site-content:before,
.site-content:after
{	
	content: "";
	display: table;
}

.site-content:after{
	clear: both;
}

.site-content {
	word-wrap: break-word;
}


/*6-8*/
.page-content {
	margin-right: 12%;
	margin-left: 7.6923%;
}

.page-content > :last-child{
	margin-bottom: 0;
}

.entry-header {
	display: none;
}

.entry-content{
	margin: 0 auto;
	max-width: 100%;
}

.full-width {
	margin-left: -10px;
	margin-right: -10px;
}







/*Home page*/

div#header_svg{
	background-image: url("../../uploads/2016/05/svg_bg_home.png");
	background-repeat:no-repeat;
	background-size: 100% 100%;
	padding-left:0;
	padding-right:0;
	height: 700px;
	position: relative;
}

div#down_bt_div{
	margin-top: 250px;
}

p#by_moblin{
	margin-top: -15px;
	margin-left: 280px;
}

p#intro_p{
	margin-bottom:-18px;

}

div#feature_div{
	position: relative;
	background-image: url("../../uploads/2016/05/svg_bg_1_2_1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
}

div#feature_div > div.over-image{
	width:100%;
	height:690px;
	position:absolute;
	background-image: url("../../uploads/2016/05/svg_bg_1_2_2.png");
	background-size: 1900px 690px;
	background-repeat: no-repeat;
	background-position:center;
	top: -20px;
	bottom: -20px;
}


li.pink-marked {
	text-align: left;	
}

li.pink-marked p {
	margin-left: 20px;
}


#author{
	position:absolute;
	right:0;
}



hr.under{
	margin-top: 0px;
}


img.icon {
	max-height:80px;
	margin: 0px auto 30px auto;
}


/* Pricing and contact page*/

.form-control{
	-webkit-box-shadow:none;
	box-shadow: none;
}

.ski-img-responsive{
		margin: 0 auto;
		max-width: 100%;
		height: auto;
		display: block;
}

.svg_bg{
	margin: 0 -10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 582px;
    color:white;
    position:relative;
}

div#price_svg{
	background-image: url('../../uploads/2016/05/svg_bg_price_1.png');"

}

div#contact_svg{
	background-image: url('../../uploads/2016/05/svg_bg_contact_1.png');"	
}

div#price_title{
	margin-top: 80px;
    margin-left: 40%;
    position: absolute;
    text-align:right;
    padding: 0 30px;
}


div#contact_title{
	margin-top: 350px;
    margin-left: 50%;
    position: absolute;
    text-align:right;
    padding: 0 30px;
}


div#wt_div{
	margin-top: 200px;
}


img.svg-img{
	position: relative;
    bottom: -50px;
}

div.svg-title{
	position: absolute;
    left: -150px;	
}

input.ski-input{
	outline: none;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 2px solid #403BB2;

	font-family: 'Roboto';
	font-size: 22px;
	color: #606B7C;
	margin-bottom: 60px;
	height: 60px;
	padding:10px 5px;
}


/*features page*/

div#features_svg_div{
	background: url('../../uploads/2016/05/svg_bg_feature.png');
	background-repeat:no-repeat;
	background-size: 100% auto;
	height: 419px;
}

div#feature_content{
 padding: 20px 5%;
}
p#plus_p{
	margin-top:40px;
}


img.img-left-quote{
	margin: 0 auto;
}

div.feaicon{
	display: none;
}



/*brands page*/
div#brand_div{
	height: 300px;
    background-image: url('../../uploads/2016/05/svg_bg_brand.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

img.band{
	width: 130px;
	margin: 20px 20px;
	/*display: inline-table;*/
	display: none;
}

img.clogo{
	display:none;
	margin:0 auto;
}


/*who we work together*/
p.together_p{
	padding: 30px 10px;
	border-bottom: 2px solid #15D4F1;
}

div.quote{
	padding: 0 25%;
}

div.carousel_div{
	padding: 0 0 150px 0;
}


/*technology*/
div#svg_tech{
	background: url('../../uploads/2016/05/svg_bg_7.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 0 150px;
	height: 320px;
}


div.no-margin p, div.no-margin h1{
	margin: 0px;
}


div#header_title{
	margin-top:50px;
	margin-bottom: 40px;
}

div.row-lg{
	min-height: 650px;
	height: auto;
}

div.row-md{
	min-height: 400px;
}

.row{
	padding: 30px 0;
	margin: 0;
}

button#get_start_bt{
	margin-top: 30px;
}

button#get_start_bt:hover{
	background-color: #282889;
}




.footer{
	position: absolute;
    bottom: 0;
    width: 100%;
}

.footer a{
	font-size: 30px;
}




#saf_bt{
	position:absolute;
	color: white;
	margin-top: 80px;
	margin-left: -80px;
}







/*-- media queries --*/

@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

@media screen and (min-width: 910px) {

	.page-content{
		margin-right: 0;
		margin-left: 0;
	}

	.no-sidebar .page-content{
		margin-right: 15%;
		margin-left: 15%;
	}

	.site-header-menu {
		display: block;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}


	.main-navigation {
		margin: 0 -0.875em;
	}

	.main-navigation .primary-menu,
	.main-navigation .primary-menu > li {
		border: 0;
	}

	.main-navigation .primary-menu > li {
		float: left;
	}

	.main-navigation a {
		outline-offset: -8px;
		padding: 0.65625em 0.875em;
		white-space: nowrap;
	}


	.main-navigation li:hover > a,
	.main-navigation li.focus > a {
		color: #007acc;
	}

	.site-footer {
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 0 4.5455% 3.5em;
	}

	.site-branding,
	.site-header-menu,
	.header-image {
		margin-top: 1.75em;
		margin-bottom: 1.75em;
		margin-left: 2.5em;
		margin-right: 2.5em;
	}

	

}


@media screen and (max-width: 1500px) {

	div#feature_div > div.over-image{
		background-size: 1700px 680px;
	}

	img.band{
		width: 130px;
	}

}

@media screen and (max-width: 1400px) {
	img.band{
		width: 100px;
	}
}


@media screen and (min-width: 1200px) {

	.site-branding{
		margin-left: 5em;
		margin-right: 2.5em;
	}

	

}



@media screen and (max-width: 1200px) {


	.main-navigation li {
		margin: 0px;
	}

	.site-header-menu{
		margin-left: 1em;
		margin-right: 2em;
	}

	p#by_moblin{
		margin-top: -10px;
		margin-left: 26%;
	}

	p#intro_p{
		margin-bottom:-15px;

	}

	div#feature_div > div.over-image{
		background-size: 1250px 670px;
	}

	div#features_svg_div{
		height:330px;
		min-height:300px;
	}

	div.quote{
		padding: 0 18%;
	}

	img.band{
		width: 90px;
	}


}

@media screen and (max-width: 1100px) {

	div#price_title h1.roboto-52{
		font-size: 45px;
	}

	div#contact_title h1.roboto-52{
		font-size: 45px;
	}

	div.quote{
		padding: 0 15%;
	}

	img.band{
		width: 85px;
    	margin: 20px 15px;
	}


}

/**
 * 14.4 - >= 985px
 */

@media screen and (max-width: 985px) {

	.site-branding{
		margin-left: 5px;
		margin-right: 5px;
	}

	p#by_moblin{
		margin-top: 0px;
		margin-left: 30%;	
	}

	div#price_title h1.roboto-52{
		font-size: 40px;
	}

	div#price_title h2.roboto-40{
		font-size: 35px;
	}

	div#contact_title h1.roboto-52{
		font-size: 40px;
	}

	div#contact_title h2.roboto-40{
		font-size: 35px;
	}

	div.quote{
		padding: 0 10%;
	}


	img.band{
		width: 80px;
    	margin: 20px 10px;
	}


}



@media screen and (min-width: 768px) {

	.site-header-menu {
		display: block;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		margin: 1.75em 0;
	}

	.main-navigation {
		margin: 0 -0.875em;
	}

	.main-navigation .primary-menu,
	.main-navigation .primary-menu > li {
		border: 0;
	}

	.main-navigation .primary-menu > li {
		float: left;
	}

	.main-navigation a {
		outline-offset: -8px;
		padding: 0.65625em 10px;
		white-space: nowrap;
	}

}


/**
 * 14.3 - >= 910px
 */

@media screen and (max-width: 910px) {

	
	.site-branding{
		margin: 1em 0.5em;
	}

}

@media screen and (max-width: 860px) {
	.main-navigation a {
		padding: 0.65625em 5px;
	}

	.site-right-menu{
		right: 10px;
	}

	img.band{
		width:  75px;
	}

}



/*main mobile start*/
@media screen and (max-width: 768px) {

	div#header_svg{
		background-image: url("../../uploads/2016/05/svg_bg_home_m.png");
		height: 650px;
	}
	div#down_bt_div{
		margin-top: 200px;
	}



	article{
		padding: 0;
	}

	p {
		letter-spacing: normal;
	}

	h1.h1-title{
		font-size: 30px;
	}

	.roboto-22{
		font-size: 20px;
	}


	.roboto-28{
		font-size: 23px;
	}

	.roboto-40{
		font-size: 25px;
	}

	.roboto-100{
		font-size: 80px;
	}

	.roboto-52{
		font-size: 45px;
	}

	.row .col-md-6{
		padding: 0 50px;
	}

	.full-width{
		margin-left: 0;
		margin-right: 0;
	}

	button.signup-bt, button.submit-bt{
		font-size: 20px;
    	padding: 16px 70px;
	}

	.ski-img-responsive{
		margin: 0 auto;
		max-width: 60%;
		height: auto;
		display: block;
	}


	
	#login_menu_bt{
		display: none;
	}

	li.pink-marked p{
		margin-left: 10px;
		margin-right: 0px;
	}

	
	.site-header-menu {
		display: none;
	}

	div#feature_div{
		position: relative;
		background-image: url("../../uploads/2016/05/svg_bg_1_3_1.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position:center;
	}

	div#feature_div > div.over-image{
		width:100%;
		height:670px;
		position:absolute;
		background-image: url("../../uploads/2016/05/svg_bg_1_3_2.png");
		background-size: 780px 670px;
		background-repeat: no-repeat;
		background-position:center;
		top: -10px;
		bottom: -10px;
	}


	div.quote-50{
		height: 50px;
	}

	.hide-in-mob{
		display:none;
	}
	.block-in-mob{
		display: block;
	}

	img.img-left-quote{
		max-height: 150px;		
	}

	img.img-quote-right{
		margin: 0 auto;
    	top: -70px;
    	position: relative;
    	max-height: 150px;
	}
	    
	div.site-header-main {
		height:100%;

	}

	div.site-header-menu{
		margin-bottom:0;
	}

	ul.primary-menu{
		padding: 0;
	}



	/*price and contact page*/
	div#price_svg{
		background-image: url('../../uploads/2016/05/svg_bg_price_2.png');"
	}

	div#price_title{
		margin: 0 auto;
    	top: 380px;
    	position: relative;
    	text-align: center;
    }

   	div#price_title h2.roboto-40{
		font-size: 25px;
	}

	div#contact_svg{
		background-image: url('../../uploads/2016/05/svg_bg_contact_2.png');"	
	}

	div#contact_title{
		margin: 0 auto;
    	top: 420px;
    	position: relative;
    	text-align: center;
    }

   	div#contact_title h2.roboto-40{
		font-size: 25px;
	}

	div.svg-title{
		left: 0;
	}

	img.svg-img{
	   	bottom: 0px;
	}

	div#wt_div{
		margin-top: 20px;
	}

	/*features page*/
	div#features_svg_div{
		background: url('../../uploads/2016/05/svg_bg_feature_m.png');
		background-size: 100% auto;
		background-repeat: no-repeat;
		height:400px;
		min-height:300px;
	}

	p#plus_p{
		margin-top:0px;
	}

	div#feature_content{
		 padding: 0 40px;
	}

	div.feaicon{
		margin-top: 0;
	}

	/*brands page*/
	div#brand_div{
		height: 350px;
	    background-image: url('../../uploads/2016/05/svg_bg_brand_m.png');
	}

	#saf_bt{
		margin-top: -10px;
		top: 50%;
	}


	#author{
		display: block;
		margin-top: 10px;
		position:relative;
	}

	.page-content{
		margin-right: 23.0769%;
	}

	.skipper-title{
		width: 90%;
	}

	.mobile-block{
		display: block;
	}

	
	p#by_moblin{
		margin-left: 200px;
	}

	.roboto-27-light {
    	font-size: 22px;
	}

	div.col-sm-4 {
		margin-top: 40px;
	}

	.site-branding {
		margin: 0 auto;
	}

	.site-right-menu{
		position: relative;
		float:right;
		margin:0;
		right:10px;
	}

	.navbar-toggle{
		margin: 0 10px;
	}

	input.ski-input{
		font-size: 18px;
		margin-bottom: 40px;
		height: 60px;
		padding:10px 10px;
	}


	div.quote{
		padding: 0 5%;
	}

	img.img-quote-right{
		display:none;
	}

	div.carousel_div{
		padding: 0;
	}

	div.no-padding-row div.row{
		padding: 0;
	}

	img.band {
		width: 83px;
		margin: 20px 30px;
	}

	div#svg_tech{
		background: url('../../uploads/2016/05/svg_bg_tech_m.png');
		background-position: 0 100px;
		background-repeat: no-repeat;
		background-size: 100% auto;
		height: 220px;
	}


}

@media only screen and (max-width: 600px){

	div#header_svg{
		height: 720px;
	}


	img.band {
		width: 73px;
 		margin: 20px 18px;
	}


	button.signup-bt, button.submit-bt {
 	   font-size: 18px;
	   padding: 15px 55px;
	}

	div#down_bt_div{
		margin-top: 250px;
	}

}


@media only screen and (max-width: 480px)
{

	.roboto-17 {
    	font-size: 16px;
	}

	.roboto-22{
		font-size: 18px;
	}

	.roboto-22-top {
	    font-size: 18px;	    
	}


	.roboto-28{
		font-size: 23px;
	}

	.roboto-34{
		font-size: 24px;
	}


	.roboto-40{
		font-size: 25px;
	}

	.roboto-100{
		font-size: 80px;
	}

	.roboto-52{
		font-size: 40px;
	}

	.navbar-toggle{
		margin: 0;
	}

	button.signup-bt, button.submit-bt {
 	   font-size: 18px;
	   padding: 10px 45px;
	}

	.custom-logo{
		width: 120px;
	}

	h1.h1-title{
		font-size: 25px;
	}

	.site-right-menu{
		position: relative;
		float:right;
		margin:0;
		right:5px;
	}

	.site-branding{
		margin: 0 auto;
	}


	div#header_svg{
		height: 720px;
	}

	

	button#get_start_bt{
		padding: 15px 50px;
	}

	p#by_moblin {
    	margin-left: 180px
	}

	.ski-img-responsive {
    	max-width: 70%;
	}

	div#features_svg_div{
		height: 250px;
 		min-height: 200px;
	}

	div#brand_div{
		height: 200px;
	}

	img.band{
		width: 44px;
    	margin: 20px 15px;
	}

	div#svg_tech{
		background: url('../../uploads/2016/05/svg_bg_tech_m.png');
		background-position: 0 80px;
		background-repeat: no-repeat;
		background-size: 100% auto;
		height: 180px;
	}
}


@media only screen and (max-width: 380px)
{
	
}












